{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}
<h2>Inventory</h2>
<a href="{{ url_for('add_inventory') }}" class="btn btn-success">Add Inventory</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product ID</th>
            <th>Quantity Available</th>
            <th>Reorder Level</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
