{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h2>Products</h2>
<a href="{{ url_for('add_product') }}" class="btn btn-success">Add Product</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Price per Unit</th>
            <th>Stock Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
